node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
/cache
/artifacts

# Ignore the output from circom because we want people to build these
# Users can remove these lines and commit the artifacts
circuits/*.r1cs
circuits/*.vkey.json
circuits/*.wasm
circuits/*.zkey
circuits/*.sym
circuits/loc

# hardhat ignition deployment
ignition/deployments/chain-31337
